*{
    margin: 0;
    padding: 0;
}

:root{
    --header-color:rgb(153,90,164);
    --category-color:rgb(93,164,90);
    --artical-color:rgb(90,90,164);
    --red-color:rgb(229,26,26);
    --footer-color:rgb(17,110,163);
}

/* Header  */
.side-header{
    background-color: var(--header-color);
    
}
header{
    position: sticky;
    top: 0;
}
.fixed{
    margin-bottom: 5rem;
}
.navbar {
    float: right;
    margin-top: 2rem;
}
.navbar li{
    display: inline;
}
.navbar li a{
    font-size: 1.3rem;
    text-transform: uppercase;
}
.navbar li a:hover{
    color: black;
}
span{
    font-size: 1.5rem;
    color: var(--header-color);
    position: relative;
    cursor: pointer;
}

span:hover{
    color: rgb(135, 41, 151);
}
span img{
    width: 10%;
    height: 10%;
}
/* Aside  */
aside{
    width: 29%;
}

aside li{
    width: 10%;
    margin-top: 0.5rem;
    opacity: 0.7;
}

aside {
    background-color: var(--category-color);
}

/* article  */
article{
    width: 67%;
    background-color: var(--artical-color);
}

/* same class uses */

.same-content{
    padding: 2rem;
}

.same-content h2{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.same-content p{
    color: #fff;
    margin-top: 1rem;
    line-height: 1.7rem;
}

.same-content li{
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    word-spacing: 5px;
}
/* base  */
section{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    color: white;
}

li{
    list-style: none;
}

.mt{
    margin-top: 1.5rem;
}

footer h2{
    text-align: end;
    text-transform: uppercase;
    color: #fff;
}

/* box  */
.box{
    width: 33%;
}
img{
    height: 300px;
    width: 100%;
}
/* footer here  */
footer{
    background-color: var(--footer-color);
    padding: 1.5rem;
}
